html
  head
    style 
      include styles.css
      
title 

main
  h1.title.main-title.container Choose Your Own Adventure

body.container.game-body
  nav.game-nav
    ul
        li.forest
          a: img(src="imgs/forest.jpg", id="The Enchanted Forest", href="/TheEnchantedForest")
        li.desert
          a: img(src="imgs/desert.jpg", id="The Galactic Enigma", href="/TheGalacticEngima")
        li.cave
          img(src="imgs/cave.jpg", id="The Manor", href="/TheManor")        
    ul

    a.game-exit(href="/home") Back to Home


  script.
    var body = document.body;
    var title = document.querySelector(".title");

    var forestElement = document.getElementById("forest");
    forestElement.addEventListener("mouseover", function() {
        body.style.backgroundImage = "url('imgs/forest.jpg')";
        title.style.color = "grey";
    });

    var desertElement = document.getElementById("desert");
    desertElement.addEventListener("mouseover", function() {
        body.style.backgroundImage = "url('imgs/desert.jpg')";
        title.style.color = "red";
    });

    var caveElement = document.getElementById("cave");
    caveElement.addEventListener("mouseover", function() {
        body.style.backgroundImage = "url('imgs/cave.jpg')";
        title.style.color = "green";
    });
