html
  head
    style 
      include styles.css
      
title 

main
  h1.title.main-title.container Choose Your Own Adventure

body.container.game-body
  nav.game-nav
    ul
        li.forest
        a(href="/TheEnchantedForest")          
           img(src="imgs/forest.jpg", id="The Enchanted Forest")
        li.desert
        a(href="/TheGalacticEngima")
           img(src="imgs/desert.jpg", id="The Galactic Enigma")
        li.cave
        a(href="/TheManor")
            img(src="imgs/cave.jpg", id="The Manor")        
    ul

    a.game-exit(href="/home") Back to Home


  script.
    var body = document.body;
    var title = document.querySelector(".title");

    var forestElement = document.getElementById("The Enchanted Forest");
    forestElement.addEventListener("mouseover", function() {
        body.style.backgroundImage = "url('imgs/forest.jpg')";
        title.style.color = "grey";
    });

    var desertElement = document.getElementById("The Galactic Enigma");
    desertElement.addEventListener("mouseover", function() {
        body.style.backgroundImage = "url('imgs/desert.jpg')";
        title.style.color = "red";
    });

    var caveElement = document.getElementById("The Manor");
    caveElement.addEventListener("mouseover", function() {
        body.style.backgroundImage = "url('imgs/cave.jpg')";
        title.style.color = "green";
    });
