html
  head
    style 
      include styles.css
      
title 

main
  h1.title.home-title.container Choose Your Own Adventure

body.container.home-background
  nav.home-nav
    ul
      li
        a(href="/game") Play
      li 
        a() Settings 
      li
        a() LeaderBoard 