html
  head
    style 
      include styles.css
      
title Login Page

main
  h1.title.main-title.container Choose Your Own Adventure

body.container.background
  nav.main-nav
    ul
      li
        a(href='/login') LOGIN
      li
        a(href='/register') REGISTER
