html
  head
    style 
      include styles.css

title My Website

main
  h1.form-title.container.title LOGIN

body.form-background
  form.form-container(action='/home')
    .input
      label(for="Username") Username
      input#uname(type="text", name="uname")
    .input
      label(for="Password") Password
      input#pword(type="password", name="pword")
    .input
      input#submit(type="submit", value="Submit")    