html
  head
    style 
      include styles.css
      
title 

main
body.TheManor-background
  h1.adventure-title.container= story.story_name
    p.adventure-title.container= story.scenario
    form(action="/TheManor", method="POST")
        each choice in story.choices
            button(type="submit", name="choice", value=choice)= `Go to Page ${choice}`
    a.adventure-exit(href="/home") Back to Home